<div class="cat-filter-box">
  <h5 class="cat-filter-box-title">Categories</h5>
  <div class="d-flex justify-content-between align-items-end mb-2" *ngFor="let category of categories">
    <div class="category-name ms-2">
      <input type="checkbox" [id]="category.name" [value]="category.name" class="form-check-input me-1">
      <label [for]="category.name" class="cat-filter-name">{{ category.name }}</label>
    </div>
    <span class="d-inline-block item-count">{{ category.items }}</span>
  </div>
  <button *ngIf="showMore" class="ms-2" (click)="getNextCategories()">MORE <i class="bi bi-plus"></i></button>
</div>