<div class="modal fade" [id]="modalId" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5"><i class="bi bi-exclamation-square"></i> Information</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul type="square">
          <li>{{ message }}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal"><i class="bi bi-check"></i> OK</button>
      </div>
    </div>
  </div>
</div>