<app-master-layout viewIcon="bi-layers-half" viewTitle="Catalog Management">
  <form search class="row mt-4 g-2 mb-3">
    <div class="col-lg-auto col-md-auto col-12">
      <select class="form-select">
        <option value="">Filter By Category</option>
        <option value=""></option>
      </select>
    </div>
    <div class="col-lg-auto col-md-auto col-12">
      <div class="row g-2">
        <div class="col-lg-auto col-md-auto col-9">
          <input type="text" class="form-control" placeholder="Search Catalog">
        </div>

        <div class="col-lg-auto col-md-auto col-3">
          <button class="btn btn-success w-100">
            <i class="bi bi-search"></i>
            <span class="d-none d-md-inline"> Search</span>
          </button>
        </div>
      </div>
    </div>
  </form>

  <div list class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 g-3">
    <app-catalog-box role="Employee" *ngFor="let item of catalogs" [data]="item">
    </app-catalog-box>
  </div>
</app-master-layout>

<app-catalog-form></app-catalog-form>