<div class="container-fluid">
  <div class="row g-3">

    <nav class="col-2 bg-light pr-3 pt-2">
      <a [routerLink]="['/employee']" class="fs-4 text-dark text-decoration-none btn-link">
        <i class="bi bi-house"></i>
        <span class="d-none d-lg-inline"> Dashboard</span>
      </a>

      <div class="list-group mt-4 text-center text-lg-start">
        <span class="list-group-item disabled d-none d-lg-block">
          <small>ACTIONS</small>
        </span>

        <a [routerLink]="['/employee', 'sale']" routerLinkActive="active"
          class="list-group-item list-group-item-action">
          <i class="bi bi-cart"></i>
          <span class="d-none d-lg-inline"> Pos</span>
        </a>
        <a [routerLink]="['/employee', 'category']" routerLinkActive="active"
          class="list-group-item list-group-item-action">
          <i class="bi bi-tags"></i>
          <span class="d-none d-lg-inline"> Category</span>
        </a>
        <a [routerLink]="['/employee', 'catalog', 'management']" routerLinkActive="active"
          class="list-group-item list-group-item-action">
          <i class="bi bi-layers-half"></i>
          <span class="d-none d-lg-inline"> Catalog</span>
        </a>
        <a [routerLink]="['/employee', 'customer', 'management']" routerLinkActive="active"
          class="list-group-item list-group-item-action">
          <i class="bi bi-person-raised-hand"></i>
          <span class="d-none d-lg-inline"> Customer</span>
        </a>
      </div>
    </nav>

    <main class="col-10">
      <div class="my-3">
        <router-outlet></router-outlet>
      </div>
    </main>

  </div>
</div>
