<div class="container-fluid">
  <div class="row g-3">

    <nav class="left-nav col-2 pr-3 shadow ps-0 h-100">
      <div class="text-center brand">
        <a [routerLink]="['/employee']" class="text-dark text-decoration-none btn-link fw-bold">
          <i class="bi bi-house"></i>
          <span class="d-none d-lg-inline"> Dashboard</span>
        </a>
      </div>

      <div class="text-center text-lg-start mb-auto">

        <a [routerLink]="['/employee', 'sale']" routerLinkActive="active" class="nav-menu-link ps-lg-3 ps-md-0 mb-2">
          <i class="bi bi-cart"></i>
          <span class="d-none d-lg-inline"> Pos</span>
        </a>
        <a [routerLink]="['/employee', 'category']" routerLinkActive="active"
          class="nav-menu-link ps-lg-3 ps-md-0 mb-2">
          <i class="bi bi-tags"></i>
          <span class="d-none d-lg-inline"> Category</span>
        </a>
        <a [routerLink]="['/employee', 'catalog']" routerLinkActive="active" class="nav-menu-link ps-lg-3 ps-md-0 mb-2">
          <i class="bi bi-layers-half"></i>
          <span class="d-none d-lg-inline"> Catalog</span>
        </a>
        <a [routerLink]="['/employee', 'customer']" routerLinkActive="active" class="nav-menu-link ps-lg-3 ps-md-0">
          <i class="bi bi-person-raised-hand"></i>
          <span class="d-none d-lg-inline"> Customer</span>
        </a>

      </div>

      <div class="ps-2 row align-items-end" style="height: calc(100% - 275px)">
        <div class="col">
          <button class="btn btn-outline-success w-100" (click)="logOut()">
            <i class="bi bi-box-arrow-right"></i>
            <span class="d-none d-lg-inline"> Log Out</span>
          </button>
        </div>
      </div>
    </nav>

    <main class="col-10">

      <div class="floating-cart">
        <button>
          <i class="bi bi-cart-check-fill"></i>
        </button>
      </div>

      <div class="ps-3">
        <router-outlet></router-outlet>
      </div>
    </main>

  </div>
</div>