<h3 class="fw-bold my-3"><i class="bi bi-card-list"></i> Catalog Detail</h3>

<app-catalog-detail-box [images]="images">
  <div class="h-100">
    <h2>Catalog Name</h2>
    <h5 class="my-2" style="color: #707070">Category</h5>
    <div class="my-4">
      <span class="stars me-5" style="letter-spacing: 5px;">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star"></i>
      </span>
      <a [routerLink]="['']" class="text-decoration-none text-dark">4 Reviews</a>
    </div>

    <div class="mb-3">
      <small>PRICE</small>
      <p class="fs-3">${{ '400000' | number }} MMK</p>
    </div>

    <div class="mb-3">
      <small>WEIGHT</small>
      <p class="fs-5 fw-semibold">13 YWE</p>
    </div>

    <div class="row g-5">
      <div class="col-auto">
        <small class="d-block">QUANTITY</small>
        <div class="mt-2">
          <button (click)="minus()" class="btn btn-sm btn-outline-dark rounded-2">
            <i class="bi bi-dash-lg"></i>
          </button>
          <span class="text-center d-inline-block" style="width: 40px;">{{ quantity }}</span>
          <button (click)="plus()" class="btn btn-sm btn-outline-dark rounded-2">
            <i class="bi bi-plus-lg"></i>
          </button>
        </div>
      </div>

      <div class="col align-self-end">
        <button class="btn btn-dark" style="font-size: 18px;">
          <i class="bi bi-cart-plus"></i> Add to cart
        </button>
      </div>
    </div>

  </div>
</app-catalog-detail-box>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a [routerLink]="['description']" routerLinkActive="active" class="nav-link">Description</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['reviews']" routerLinkActive="active" class="nav-link">Review</a>
  </li>
</ul>