<app-master-layout viewIcon="bi-layers-half" viewTitle="Catalog Management">
  <div class="row" search>
    <div class="col-lg-5 col-md col-sm">
      <form class="form-inline d-flex master-search">
        <input type="text" class="form-control input-search" placeholder="Search">

        <button type="button" class="btn btn-light btn-add ms-2">
          <i class="bi bi-search"></i>
        </button>
        <button type="button" class="btn btn-light btn-add ms-2" (click)="catalogForm?.openCatalogForm()">
          <i class="bi bi-plus-lg"></i>
        </button>

      </form>
    </div>
  </div>

  <div list class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 g-3">
    <app-catalog-box
      cardImage="https://images.unsplash.com/photo-1611107683227-e9060eccd846?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
      badgeText="Special">
    </app-catalog-box>
    <app-catalog-box
      cardImage="https://images.unsplash.com/photo-1567523977592-7959bc5df51e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1402&q=80"
      badgeText="Popular">
    </app-catalog-box>
  </div>
</app-master-layout>

<app-catalog-form></app-catalog-form>