/* You can add global styles to this file, and also import other style files */

$enable-rounded: false;
$primary: #0074c0;
$secondary: #9eafa2;
$success: #009b4d;
$warning: #ffcc00;
$info: #0099e1;
$dark: #000000;
$light: #fefefe;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.master-search {
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.master-search input[type=text], .master-search button {
  box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.08);
}

.input-search[type=text] {
  border-radius: $spacer;
  padding-left: $spacer;
}

.btn-add {
  border-radius: 100px;
}

.list-group .active {
  background-color: #666;
  border: none;
}

.btn-tbl {
  border-radius: 4px;
}

.cat-box:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.cat-box div i:hover {
  cursor: pointer;
  color: $dark;
}
