/* You can add global styles to this file, and also import other style files */

$enable-rounded: false;
$primary: #0074c0;
$secondary: #9eafa2;
$success: #009b4d;
$warning: #ffcc00;
$info: #0099e1;
$dark: #000000;
$light: #fefefe;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.master-search {
  background-color: $secondary;
  border-radius: $spacer;
  padding: $spacer;
}

.input-search[type=text] {
  border-radius: $spacer;
  padding-left: $spacer;
}

.btn-add {
  border-radius: 100px;
}
