<form>
  <div class="row g-3 mb-3">
    <div class="col-auto">
      <input type="text" class="form-control" placeholder="Enter customer code">
    </div>
    <div class="col-auto">
      <button class="btn btn-success">
        <i class="bi bi-search"></i> Search
      </button>
    </div>
  </div>
  <div class="row g-3 mb-3">
    <div class="col-auto">
      <input type="text" class="form-control" placeholder="Name">
    </div>

    <div class="col-auto">
      <input type="text" class="form-control" placeholder="Phone">
    </div>
  </div>

  <div class="row g-3">
    <div class="col-auto">
      <input type="text" class="form-control" placeholder="Email">
    </div>

    <div class="col-auto">
      <input type="text" class="form-control" placeholder="Address">
    </div>
  </div>
</form>