@charset "UTF-8";

body {
	padding: 0.5rem 2rem;
}

.btn-link {
	display: inline-block;
	background-color: silver;
	text-decoration: none;
	color: white;
	padding: 1rem;
	font-size: 1.3rem;
	margin-right: 0.5rem;
}

.form-group {
	margin-bottom: 12px;
}

.form-group label,
.form-group input {
	display: block;
}

.form-group input {
	padding: 4px;
	margin-top: 2px;
	width: 20%;
}