<h3 class="view-title"><i class="bi bi-tags"></i> Category Management</h3>
<div class="row g-2 justify-content-between mb-3">
  <div class="col-lg-auto col-md-auto col-12 order-lg-first order-md-first order-last">
    <div class="row g-2">
      <div class="col-lg-auto col-md-auto col">
        <button class="btn btn-success w-100" (click)="openCategoryForm()">
          <i class="bi bi-plus-lg"></i> Add New Category
        </button>
      </div>

      <div class="col-lg-auto col-md-auto col">
        <button class="btn btn-outline-success w-100">
          <i class="bi bi-upload"></i> Upload Category
        </button>
      </div>
    </div>
  </div>

  <div class="col-lg-auto col-md-auto col">
    <div class="row g-2">
      <div class="col">
        <input type="text" class="form-control w-100" placeholder="Category name">
      </div>

      <div class="col-auto">
        <button class="btn btn-outline-success">
          <i class="bi bi-search"></i>
          <span class="d-none d-md-inline"> Search</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row g-3">

  <app-no-data image="assets/no-category.jpg" text="Category" *ngIf="categories.length == 0"></app-no-data>

  <ng-container *ngIf="categories.length > 0">
    <app-category-box [count]="category.items" [name]="category.name" class="col-lg-3 col-md-3 col-sm-4 col-xs-12"
      *ngFor="let category of categories">
      <button class="col btn btn-sm btn-secondary" (click)="deleteCategory(category.id)">
        <i class="bi bi-trash"></i>
      </button>
      <button class="col btn btn-sm btn-dark" (click)="editCategory(category)">
        <i class="bi bi-pencil-square"></i>
      </button>
    </app-category-box>
  </ng-container>

</div>

<app-category-form [category]="targetCategory" (onSave)="saveCategory($event)"></app-category-form>