<app-master-layout [middle]="true" viewIcon="bi-tags" viewTitle="Category Management">
  <div class="row mt-4 g-2" search>
    <div class="col-lg-auto col-md-auto col-12">
      <input (keyup.enter)="addValue(catName.value); catName.value = ''" #catName type="text" class="form-control"
        placeholder="Type name and hit Enter">
    </div>

    <div class="col-lg-auto col-md-auto col">
      <button class="btn btn-outline-success w-100">
        <i class="bi bi-search"></i>
      </button>
    </div>

    <div class="col-lg-auto col-md-auto col">
      <button class="btn btn-success w-100" (click)="openCategoryForm()">
        <i class="bi bi-plus-lg"></i>
      </button>
    </div>

    <div class="col-lg-auto col-md-auto col">
      <button class="btn btn-outline-success w-100">
        <i class="bi bi-upload"></i>
      </button>
    </div>
  </div>

  <div class="row g-2 ps-2 filter-category-name-wrapper">
    <div class="col-auto">
      <span class="rounded-pill" *ngFor="let name of categoryNamesForSearch; index as i">{{ name }}
        <i class="bi bi-x" (click)="removeName(i)"></i>
      </span>
    </div>
  </div>

  <div list class="row g-3 mt-3">

    <app-category-box [count]="category.items" [name]="category.name" class="col-lg-3 col-md-3 col-sm-4 col-xs-12"
      *ngFor="let category of categories">
      <button class="col btn btn-sm btn-dark" (click)="editCategory(category)">
        <i class="bi bi-pencil-square"></i>
      </button>
      <button class="col btn btn-sm btn-warning" (click)="deleteCategory(category.id)">
        <i class="bi bi-trash"></i>
      </button>
    </app-category-box>

  </div>
</app-master-layout>

<app-category-form [category]="targetCategory"></app-category-form>